.content
    .title
        span= PYTANIA__header
    .container
        .accordion
            each item in PYTANIA
                span(id=`pytanie-${item.id}` class="faq__header__fix")
                    .accordion-item
                    button#accordion-button-1(aria-expanded='false')
                        a(href= `#pytanie-${item.id}`)
                            span.accordion-title(class= `faq${item.id}` )= item.ask
                            span.icon(aria-hidden='true')
                    .accordion-content
                        p= item.answear