.content
  .title
    span Doświadczenie
  .skills-details
    .text
      .topic= DOSWIADCZENIE__header
      p= DOSWIADCZENIE__desc
      .experience
        .num= DOSWIADCZENIE__exp
        .exp
          | Lat
          br
          |  Doświadczenia
    .boxes
      each item in DOSWIADCZENIE__headers
        .box
          .topic= item.topic
          .per= item.per

