section#strona-glowna.home
  .home-content
    .text
      .text-three= STRONA_GLOWNA[0]
      .text-three= STRONA_GLOWNA[1]
      .text-two.text-focus-in= STRONA_GLOWNA[2]
      .text-one= STRONA_GLOWNA[3]
    a(href='#o-mnie')
      .button.text-small
        button= STRONA_GLOWNA[4]

