.content
  .title.puff-in-center
    span Kontakt
  .topic.center Masz jakieś pytania?
  .text
    .content__container
      .content__item
        span.contact__icon
          i.fas.fa-phone-square-alt
        .contact__item__header Telefon
        .contact__item__info= KONTAKT__PHONE
        .button.button-small
          a(href=KONTAKT__PHONE__HREF)
            button Zadzwoń
      .content__item
        span.contact__icon
          i.fas.fas.fa-envelope
        .contact__item__header Mail
        .contact__item__info= KONTAKT__EMAIL
        .button.button-small
          a(href=KONTAKT__EMAIL__HREF)
            button Napisz
      .content__item
        span.contact__icon
          i.fab.fa-facebook-square
        .contact__item__header Fanpage
        .contact__item__info= WEBSITE_TITLE
        .button.button-small
          a(href=FACEBOOK__URL)
            button Zobacz
