footer
  .content
    .top
      .logo-details
        span.logo_name=  WEBSITE_TITLE
      .media-icons
        a(href=FACEBOOK__URL target='_blank')
          i.fab.fa-facebook-f
        a(href=INSTAGRAM__URL target='_blank')
          i.fab.fa-instagram
    .link-boxes
      each item in FOOTER__LINK__BOX
        ul.box
          li.link_name= item.link_header
            each list in item.link_element
              li
                a(href=list.url target='_blank')= list.name

  .bottom-details
    .bottom_text
      span.copyright_text= FOOTER__INFO
